<!DOCTYPE html>
<html lang="en">
<title>Threat Level Midnight!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-responsive.css">
<link href="style.css" rel="stylesheet">


<body>

    <!--- Title-->
    <div class="title">
        <div class="container text-center">
            <img src="img/R.png" class="img-fluid" />
            <h1 class="display-1"><em>a Deep Dive</em></h1>
            <h2>What can data tell us about this beloved sitcom?</h2>
        </div>
    </div>


    <!--- Two Column Machine Learning Form -->
    <div class="machine_learn">
        <div class="row align-items-center justify-content-center">
            <div class="row text-center padding">
                <div class="col-12">
                    <h1 class="display-4">Machine Learning Model</h1>
                </div>
                <hr>
                <div class="col-lg-6">
                    <img
                        src=http://images4.fanpop.com/image/photos/16100000/Michael-Animated-gif-the-office-16137757-300-169.gif />
                    <h2 class="display-4">What would Micheal say?</h2>
                    <div class="col-12">
                        <p class="lead">Value in scripted lines per episode and season, cumulative over all time</p>
                    </div>
                    <h1>Machine Learing using Flask</h1>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                        </p>
                </div>
                <div class="col-lg-6">
                    <!-- Machine Learning piece-->
                    <form action="/prediction_route" method="POST">
                        <!-- <p>Make Michael Talk <input type = "text"/></p> -->
                        <h2>Make Michael Talk <input type="text" name="michael_talks" /></h2>
                        <h2><input type="Submit" value="Talk to me!" /></h2>
                        <h2><label id="prediction" name="prediction"></label></h2>
                        <h2>{% if prediction != None %}
                            {{prediction}}
                            {% endif %}
                        </h2>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Analytics Header -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="card-body">
                <hr>
                <h1>Analytics Overview </h1>
                <h2>2020 - the beginning of the Pandemic. Unprecedented restrictions of movements and
                    lockdowns.<br>
                    What do most people do when they are stuck at home?
                    According to Nielsen, "The Office" had more than 57 billion minutes streamed in 2020.
                    Why is the show so popular even after nearly a decade from its original airing?
                    In recent years, many podcasts have popped up trying to answer this question.
                    These podcasts track the history of the show and take deep dives into various episodes to
                    figure out the answer
                </h2>
                
            </div>
        </div>
        <hr>
    </div>
 

    <!--- Two Column Bar Chart Race Section -->
    <div class="bar_chart_race">
        <div class="container-fluid padding">
 
            <div class="row text-center padding">
                <div class="col-12">
                    
                    <h1 class="display-4">Bar Chart Race</h1>
                </div>
                <hr>
                <div class="col-12">
                    <p class="lead">Welcome</p>
                </div>
                <div class="col-lg-6">
                    <div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/8739386">
                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="display-4">Who had the most lines?</h2>
                    <div class="col-12">
                        <p class="lead">Value in scripted lines per episode and season, cumulative over all time</p>
                    </div>
                    <h1>Bar Chart Race</h1>
                    <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

                    <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
    </div>

    <!--- Two Column Sentiment Chart Section -->
    <div class="sentiment">
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <hr>
                    <h1 class="display-4">Sentiment</h1>
                </div>
                <hr>
                <div class="col-lg-6">
                    <h2 class="display-4">Who was most liked?</h2>
                    <div class="col-12">
                        <p class="lead">Value in scripted lines per episode and season, cumulative over all time</p>
                    </div>
                    <h1>Sentiment Scores</h1>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut
                        enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col-lg-6">
                    <div class="flourish-embed flourish-chart" data-src="visualisation/8648557">
                        <script src="https://public.flourish.studio/resources/embed.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--- Two Column Section -->
    <div class="left_sec">
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <hr>
                    <h1 class="display-4">Ratings</h1>
                </div>
                <hr>
                <div class="col-lg-6">
                    <img src="img/R.png" alt="My Image" class="img-fluid" />
                </div>
                <div class="col-lg-6">
                    <h4>Ratings Sentiment</h4>
                    <p>bla bla bla</p>
                    <p>bla bla bla</p>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!--- Two Column Section -->
    <div class="right_sec">
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-lg-6">
                    <h2>Our Philosophy</h2>
                    <p>bla bla bla</p>
                    <p>bla bla bla</p>
                    <br>
                </div>
                <div class="col-lg-6">
                    <img src="img/R.png" alt="My Image" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>



    <!--- Creators Header -->
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-sm-12">
                <hr>
                <h1 class="display-4">The Office-iaonados</h1>
            </div>
            <hr>
        </div>
    </div>


    <!--- Creators Five Sections -->
    <div class="five_sec">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12 align-items-center">
                    <div class="col-lg-2">
                        <img class="card-img-top"
                            src="img\Bertrand.png"
                            class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Bertrand Kotewall</h4>
                            <p class="card-text">Bertrand is an office-ionado.</p>
                            <a href="#" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img class="card-img-top"
                            src="img\Hwai Jiin.png"
                            class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Hwai Jiin</h4>
                            <p class="card-text">Hwai Jiin is is an office-ionado.</p>
                            <a href="#" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img class="card-img-top"
                            src="img\Justin.png"
                            class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Justin Kiehl</h4>
                            <p class="card-text">Justin is an office-ionado.</p>
                            <a href="#" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img class="card-img-top"
                            src="img\Katey.png"
                            class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Katey Harris</h4>
                            <p class="card-text">Katey is an office-ionado.</p>
                            <a href="https://github.com/kateyharris/Portfolio" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <img class="card-img-top"
                            src="img\Kayleigh.png"
                            class="img-fluid" />
                        <div class="card-body">
                            <h4 class="card-title">Kayleigh Bradley-Vogt</h4>
                            <p class="card-text">Kayleigh is an office-ionado.</p>
                            <a href="#" class="btn btn-outline-secondary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--- Hidden Section -->

    <!-- <button class="fun" data-toggle="collapse" data-target="#emoji">Click for fun.</button>
    <div id="emoji" class="collapse">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-sm-6 col-md-3">
                    <img class="gif" src="img/gif/panda.gif">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img class="gif" src="img/gif/poo.gif">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img class="gif" src="img/gif/unicorn.gif">
                </div>
                <div class="col-sm-6 col-md-3">
                    <img class="gif" src="img/gif/chicken.gif">
                </div>
            </div>
        </div>
    </div> -->


    <!--- Footer -->
    <!-- <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Name</h5>
                    <hr class="light">
                    <p>myemail@email.com</p>
                    <p>100 Street Name</p>
                    <p>City, State 88888</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Name</h5>
                    <hr class="light">
                    <p>myemail@email.com</p>
                    <p>100 Street Name</p>
                    <p>City, State 88888</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <h5>Name</h5>
                    <hr class="light">
                    <p>myemail@email.com</p>
                    <p>100 Street Name</p>
                    <p>City, State 88888</p>
                </div>
            </div>
        </div>
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
</body>

</html>