@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  /* //font-family: "American Typewriter", serif; */
  font-family: "Lato", sans-serif;
  color:black;
  padding: 20px;
  background:white;
}

.title {
  color:#6c7fee;
}

.machine_learn{
background:lightgrey;
}

.bar_chart_race {
  background:lightgrey;
}
.left_sec {
  background:lightgrey;
}

.col-lg-2 {
  background:lightgrey;
  box-sizing: 10px;
  border-color: rgb(163, 162, 162);
}

.five_sec {
  width: 100%;
  margin-left: 200px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.padding {
  padding-bottom: 2rem;
}
.welcome {
  width: 2400;
  margin: auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 2400px;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold{
  color: #563d7c;
}

.column-5-left {
  width: 380px;
  padding: 20px;
  float: right;
  margin-right: 10px;
}

.column-5-middle {
  width: 380px;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.column-5-right {
  width: 380px;
  padding: 20px;
  float: left;
  margin-left: 10px;
}

.row .col {
  height: 100px;
  width: 90px;
  padding: 20px;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/The-Office_wallpaper_015465.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




